body {
    margin: 0;
    padding: 0;
}
  /*整個框架*/
  .container {
    display: flex;
    width: 100vw; /* 使用 viewport width 代替百分比，以便讓左側框延伸到整個頁面 */
    height: 100vh; 
  }
  /*左邊的框框*/
  .left-box {
    display: flex;
    width: 25%; /* 调整左侧框的宽度 */
    flex-direction:column;

    background-color: rgba(255, 245, 245); /* 设置左侧框的背景颜色 */
    align-items: center; /*不知道可以幹嘛*/
    justify-content: space-between;
  }
  
  .right-text {
    width: 75%; /* 调整右侧文字区域的宽度 */
    padding: 20px; /* 添加一些内边距，使文字内容不紧贴边缘 */
    overflow-y: auto; /*這也不知道可以幹嘛*/
  }
  /*帳務總攬*/
  .incomeEP{
    color:black;
    font-size: 20px;
    /*可能還要加東西 讓他更好看*/
  }
  .table{
    display:flex;
    justify-content: space-around; /*左右放 但沒有很完美*/
  }
  .button-link-submit {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to bottom, #1863e2 0%, #04a7ff 100%);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  .table caption {
    font-size: 26px; /* 设置字体大小 */
    font-weight: bold; /* 设置字体加粗 */
    color: #333; /* 设置字体颜色，根据需要调整 */
    margin-bottom: 10px; /* 设置标题与表格内容之间的下边距 */
  }
  
  /* 表格样式 */
   table {
    border-spacing: 5px;
    border-collapse: collapse;
    
  }
  
  table th, table td {
      border: 1px solid black;
      text-align: left;
      padding: 8px;
  }

  .table td.no-border {
              border: none;
              background-color: white;
          } 
  /* Basic table styles */
/* .styled-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

/* Header styles */
/* .styled-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
} */

/* Row styles */
/* .styled-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
} */
  .list
  {
    color: purple;
    text-decoration: none; /* 移除链接的下划线效果 */
    font-size:20px;
  }
  .list:hover{
    color: rgba(255, 0, 0,0.5);
    
  }
  .listtitle{
    color: purple;
    font-size: 60px;
    
  }
  .thousand-separator {
    text-align: right;
  }
