body {
    margin: 0;
    padding: 0;
}
  /*整個框架*/
  .container {
    display: flex;
    width: 100vw; /* 使用 viewport width 代替百分比，以便讓左側框延伸到整個頁面 */
    height: 100vh; 
  }
  /*左邊的框框*/
  .left-box {
    display: flex;
    width: 30%; /* 调整左侧框的宽度 */
    flex-direction:column;

    background-color: #fff5f5; /* 设置左侧框的背景颜色 */
    align-items: center; /*不知道可以幹嘛*/
    justify-content: space-between;
  }
  
  .right-text {
    width: 70%; /* 调整右侧文字区域的宽度 */
    padding: 20px; /* 添加一些内边距，使文字内容不紧贴边缘 */
    overflow-y: auto; /*這也不知道可以幹嘛*/
  }
  /*帳務總攬*/
  .incomeEP{
    color:black;
    background-color: lightblue;
    /*可能還要加東西 讓他更好看*/
    
  }
  .table{
    display:flex;
    justify-content: space-around; /*左右放 但沒有很完美*/
  }
  .button-link-submit {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to bottom, #1863e2 0%, #04a7ff 100%);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .button-link-submit:hover {
    background: linear-gradient(to bottom, #12ea70 0%, #027c23 100%);
    transform: translateY(-2px);
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.2);
  }

  .button-link-del {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to bottom, #1863e2 0%, #04a7ff 100%);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .button-link-del:hover {
    background: linear-gradient(to bottom, #f00707 0%, #d30423 100%);
    transform: translateY(-2px);
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.2);
  }