<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加種類</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            /*background-color: rgba(100, 100, 225, 0.719);*/
            background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        }
    </style>
</head>

<body>
    <div>
        <form action="." method="post" name="form1">
            {% csrf_token %} <!--啟動csrf防護，否則會error -->
            <h2>添加種類-收入：</h2>
            <input type="text" id="addcategoryR" name="addcategoryR"> <input type="submit" value="送出" name="buttom1"
                id="buttom1">
            <a href="{% url 'index' %}">取消</a>
            <h2>添加種類-支出：</h2>
            <input type="text" id="addcategoryE" name="addcategoryE">
            <input type="submit" value="送出" name="buttom1" id="buttom1">
            <a href="{% url 'index' %}">取消</a>
        </form>
    </div>
</body>

</html>