<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增支出紀錄</title>
    <link rel="stylesheet" href="/static/css/addRrecord.css">
</head>
<body>

    <div class="box">
        <div class="dialog">
            <button><a href="{% url 'index' %}">X</a></button>
        </div>
    <h1>新增支出紀錄</h1>
    <form action="."method='post' name="form1">
        {% csrf_token %}
        <span>日期</span>
        <input type="date" name="date" id="date">
        <span>備註</span>
        <input type="text" name="description" id="description">
        <span>種類</span>
        <select name="categoryE" id="categoryE">
        {% for aCE in cEselect %}
        <option value="{{aCE}}">{{aCE}}</option>
        {% endfor %}
        </select>
        <span>金額</span>
        <input type="number" name="cash" id="cash">
        <input type="submit" value="送出" name="buttom" id="buttom">
        
        {{messages}}
    </table>
    </form>
</body>
</html>