<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/addRrecord.css">
    <title>新增收入紀錄</title>
</head>
<body>
    <div class="box">
    <h1>新增收入紀錄</h1>
    <form action="." method="post" name="form1">
        {% csrf_token %}
            日期
            <input type="date" name="date" id="date">
            備註
            <input type="text" name="description" id="description">
            種類
            <select name="categoryR" id="categoryR">
                {% for aCR in cRselect %}
                    <option value="{{aCR}}">{{aCR}}</option>
                        {% endfor %}
            </select>
            金額
            <input type="number" name="cash" id="cash">
                <input type="submit" value="送出" name="button" id="button">
                <a href="{% url 'index' %}">取消</a>
            {{messages}}
    </form>
</div>
</body>
</html>
