<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/static/css/addRrecord.css">
    <title>新增收入紀錄</title>
</head>
<body>
    
    <div class="box">
        <div class="dialog">
            <button><a href="{% url 'index' %}">X</a></button>
        </div>
    <h1>新增收入紀錄</h1>
    
    <form action="." method="post" name="form1">
        {% csrf_token %}
             <input type="hidden" name="username" value="{{ request.user.username}}">
            <span>日期</span>
            <input type="date" name="date" id="date">
            <span>備註</span>
            <input type="text" name="description" id="description">
            <span>種類</span>
            <select name="categoryR" id="categoryR">
                {% for aCR in cRselect %}
                    <option value="{{aCR}}">{{aCR}}</option>
                        {% endfor %}
            </select>
            <span>金額</span>
            <input type="number" name="cash" id="cash">
            <input type="submit" value="送出" name="button" id="button">
            {{messages}}
    </form>
</div>
</body>
</html>
