<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>刪除支出紀錄</title>
    <link rel="stylesheet" href="/static/css/delE.css">
</head>
<body>
    <div class="wrapper">
        <div class="box">
    <h2>是否確定刪除{{ expense.description }}?</h2>

    <form action="" method="POST">
        {% csrf_token %}
        <input class="confirm-button" type="submit" value="確定" />
        <a class="button-link" href="{% url 'index' %}">取消</a>
    </form>
</div>
    </div>
</body>
</html>