<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>帳務總覽</title> 
    <style>
        body {
    margin: 0;
    padding: 0;
}
  
  .container {
    display: flex;
  }
  
  .left-box {
    width: 30%; /* 调整左侧框的宽度 */
    /*background-color: #ccc; /* 设置左侧框的背景颜色 */
    align-items: stretch
  }
  
  .right-text {
    width: 70%; /* 调整右侧文字区域的宽度 */
    padding: 20px; /* 添加一些内边距，使文字内容不紧贴边缘 */
  }
  
    </style>
</head>
<body>
    <div class="container">
        <div class="left-box">
          <p>fuck you</p>
          <p>回到葉面</p>
        </div>
        <div class="right-text">
    <h1>帳務總覽</h1>
    
        收入：{{ income }} &nbsp;&nbsp;
        支出:{{ outcome }} &nbsp;&nbsp;
        淨額：{{ net }}
    

    <h2>帳務紀錄</h2>
    <table>
        <th>日期</th>
        <th>描述</th>
        <th>種類</th>
        <th>金額</th>
    
        {% for record in recordE %}
    <tr>
        <td hidden="hidden">{{record.id}}</td>
        <td>{{ record.date }}</td>
        <td>{{ record.description }}</td>
        <td>{{ record.categoryE }}</td>
        <td>{{ record.cash }}</td>
        <td><a href="/delErecord/{{record.id}}/">刪除</a></td>
    </tr>
    {% endfor %}

    {% for record in recordR %}
    <tr>
    
    <td hidden="hidden">{{record.id}}</td>
    <td>{{ record.date }}</td>
    <td>{{ record.description }}</td>
    <td>{{ record.categoryR }}</td>
    <td>{{ record.cash }}</td>
    <td><a href="/delRrecord/{{record.id}}/">刪除</a></td>
    </tr>
    {% endfor %}
    </table>
    </div>
</div>
</body>
</html>