<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/index.css">
  <title>帳務總覽</title>

</head>

<body>
  <!--主要-->
  <div class="container">
    <div class="left-box">
      <div class="listtitle"><img src="/static/img/user-circle-svgrepo-com.svg" alt="">
        <div>
          <span style="font-size: 40px;">{{user}}</span>&nbsp;&nbsp;
          <p></p>
          <a href="/confirm_logout">登出</a>

        </div>
      </div>
      <hr>
      <div class="list">
        <a href="/addcategory">
          <img src="/static/img/playlist_add_FILL0_wght400_GRAD0_opsz24.svg" alt="">
          <span>新增種類</span>
        </a>
        <a href="/delcategory">
          <img src="/static/img/playlist_remove_FILL0_wght400_GRAD0_opsz24.svg" alt="">
          <span>刪除種類</span>
        </a>
        <a href="/charts">
          <img src="/static/img/bar_chart_FILL0_wght400_GRAD0_opsz24.svg" alt="">
          <span>圖表分析</span>
        </a>

      </div>

      <div class="content">

        聯繫我們:0912-xxx-xxx
        Gmail:xxx@gmai.com
      </div>
    </div>
    <div class="right-text">
      <h1 style="font-size: 40px;text-align: center;">帳務總覽</h1>
      <hr>
      <div class="incomeEP">
        <div class="income">
          <div class="revenue">收入：<span class="thousand-separator">{{ income }}</span></div> &nbsp;&nbsp;
          <div class="expense">支出：<span class="thousand-separator">{{ outcome }} </span></div>&nbsp;&nbsp;
          <div class="net">淨額：<span class="thousand-separator">{{ net }}</span></div>
        </div>
        {% if deposit_goal %}
        存款目標金额：<span class="thousand-separator">{{ deposit_goal.goal_amount }}</span> &nbsp;&nbsp;
        <a href="{% url 'set_deposit_goal' %}"><img src="/static/img/edit.svg" alt=""
            style="transform: translateY(10px);"></a>

        {% else %}
        存款目標金额：<span class="thousand-separator">0</span>

        <a href="{% url 'set_deposit_goal' %}">
          <img src="/static/img/plus-circle-svgrepo-com copy.svg" alt="" style="transform: translateY(4px);"></a>
        {% endif %}

      </div>
      <h2>帳務紀錄</h2>
      <form action="." method="get" style="font-size: 20px;">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="button-link">篩選</button>
        <a href="{% url 'index' %}?cancel" class="button-link">取消</a>
      </form>


      <div class="table-all">
        <div>
          <table class="cinereousTable">
            <caption>收入</caption>

            <thead>
              <tr>

                <th>日期</th>
                <th>描述</th>
                <th>種類</th>
                <th style="text-align: right;">金額</th>
                <th style="text-align: center;">控制</th>
              </tr>
            </thead>
            <thead>
              <tr>

                <th hidden="hidden">日期</th>
                <th hidden="hidden">描述</th>
                <th hidden="hidden">種類</th>
                <th hidden="hidden">金額</th>
                <th hidden="hidden">控制</th>
              </tr>
            </thead>

            {% for record in dataR %}
            <tr>

              <td hidden="hidden">{{record.id}}</td>
              <td>{{ record.date }}</td>
              <td>{{ record.description }}</td>
              <td>{{ record.categoryR }}</td>
              <td class="thousand-separator" style="text-align: right;color: rgb(12, 143, 23,.9);">{{ record.cash }}</td>
              <td>
                <a href="{% url 'editRr' record.id %}"><img src="/static/img/edit.svg" alt="編輯"></a>
                <a href="{% url 'delRr' record.id %}"><img src="/static/img/cancel-svgrepo-com.svg" alt="刪除"></a>
              </td>
              <!--<td class="no-border"><a class="button-change" href="{% url 'editRr' record.id %}">編輯</a></td>-->
              <!--舊的編輯-->
              <!--<td class="no-border"><a class="button-link-del" href="{% url 'delRr' record.id %}" >刪除</a></td>-->
              <!--舊的刪除-->

            </tr>
            {% endfor %}
          </table>
          <div style="text-align: center;margin-top:10px">
            <a style="margin-top:10px;" href="/addRrecord">
              <img src="/static/img/plus-circle-svgrepo-com.svg" alt="">
            </a>
          </div>
        </div> <!-- 左邊的表格-->
        <div>
          <table class="cinereousTable">
            <caption>支出</caption>
            <thead>
              <th>日期</th>
              <th>描述</th>
              <th>種類</th>
              <th style="text-align: right;">金額</th>
              <th style="text-align: center;">控制</th>

              {% for record in dataE %}
              <tr>
            </thead>
            <td hidden="hidden">{{record.id}}</td>
            <td>{{ record.date }}</td>
            <td>{{ record.description }}</td>
            <td>{{ record.categoryE }}</td>
            <td class="thousand-separator" style="text-align: right;color: rgb(179, 10, 10,.9);">{{ record.cash }}</td>
            <td>
              <a href="{% url 'editEr' record.id %}"><img src="/static/img/edit.svg" alt="編輯"></a>
              <a href="{% url 'delEr' record.id %}"><img src="/static/img/cancel-svgrepo-com.svg" alt="刪除"></a>
            </td>
            <!--<td class="no-border"><a class="button-change" href="{% url 'editEr' record.id %}">編輯</a></td>-->
            <!--<td class="no-border"><a href="{% url 'delEr' record.id %}" class="button-link-del">刪除</a></td>-->
            </tr>

            {% endfor %}
          </table>
          <div style="text-align: center; margin-top:10px">
            <a style="color:black;text-decoration: none;" href="/addErecord"> <!-- 新增 要加圖案-->
              <img src="/static/img/plus-circle-svgrepo-com.svg" alt="">
            </a>
          </div>
        </div>
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            var cells = document.querySelectorAll('.thousand-separator');
            cells.forEach(function (cell) {
              var number = parseFloat(cell.textContent.replace(/,/g, ''));
              cell.textContent = number.toLocaleString(); // 使用toLocaleString()添加千位分隔符
            });
          });
        </script>
      </div>
    </div>
  </div> <!-- containter-->
</body>

</html>