<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css"> 
    <title>帳務總覽</title> 
</head>
<body>
  <!--主要-->
  
    <img  src="../static/img/cash.svg" alt="找不到">
  
    <div class="container">
      <div class="left-box">
        
        <div>
       <p>fuck you</p>
        <p>回到葉面</p>
        <a href="/addRrecord"><p>新增收入紀錄</p></a>
        <a href="/addErecord"><p>新增支出紀錄</p></a>
        <a href="/addcategory"><p>新增種類</p></a>
        <p>圖表分析</p>
        </div>
        <div style="margin-bottom:20px;"> 
          聯繫我們:0912-xxx-xxx
          Gmail:xxx@gmai.com
        </div>
      </div>
        <div class="right-text">
          <h1>帳務總覽</h1>
          <hr>
            <div class="incomeEP">
              收入：{{ income }} &nbsp;&nbsp;
              支出:{{ outcome }} &nbsp;&nbsp;
              淨額：{{ net }}
            </div>

          <h2>帳務紀錄</h2>
            <div class="table">
              <table>
                <th>日期</th>
                <th>描述</th>
                <th>種類</th>
                <th>金額</th>
    
            {% for record in recordE %}
            <tr>
              <td hidden="hidden">{{record.id}}</td>
              <td>{{ record.date }}</td>
              <td>{{ record.description }}</td>
              <td>{{ record.categoryE }}</td>
              <td>{{ record.cash }}</td>
             
              <td><a href="{% url 'editEr' record.id %}">編輯</a></td>
              <td><a href="{% url 'delEr' record.id %}">刪除</a></td>
            </tr>
            {% endfor %}
              </table>
              <table>
                <th>日期</th>
                <th>描述</th>
                <th>種類</th>
                <th>金額</th>
                {% for record in recordR %}
                <tr>
    
                <td hidden="hidden">{{record.id}}</td>
                <td>{{ record.date }}</td>
                <td>{{ record.description }}</td>
                <td>{{ record.categoryR }}</td>
                <td>{{ record.cash }}</td>

                <td><a href="{% url 'editRr' record.id %}">編輯</a></td>
                <td><a class="button-link-del" href="{% url 'delRr' record.id %}" >刪除</a></td>
                
                </tr>
                {% endfor %}
        </table>
      </div>
    </div>
  </div> <!-- containter-->
</body>
</html>