<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>登入</title>

</head>

<body>
    <div class="box">
        <form action="." method="post" name="form1">
        {% csrf_token %}
            <h1>登入</h1>
            <div class="input-box">
                <input type="text" name="cName" id="cName" placeholder="username">
            </div>
            <div class="input-box">
                <input type="password" name="password" id="password" placeholder="password">
            </div>

            <input type="submit" value="login" class="button">
            {% if user.is_authenticated %}
            <div class="text">
                請輸入帳號密碼
            {% else %}
            <div class="text">
                請輸入正確的帳號密碼
            {% endif %}
                <a href="/registe" style="text-align: right;">註冊</a>
            </div>


        </form>
    </div>
</body>

</html>